<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer Configuration</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="nav-left">
            <a href="/">Конфигурация</a>
            <div class="dropdown">
                <a href="" class="dropbtn">Комплектующие</a>
                <div class="dropdown-content">
                    <a href="/components/cpu">Процессоры</a>
                    <a href="/components/gpu">Видеокарты</a>
                    <a href="/components/ram">ОЗУ</a>
                    <a href="/components/storage">Накопители</a>
                    <a href="/components/motherboard">Материнские платы</a>
                    <a href="/components/psu">Блоки питания</a>
                    <a href="/components/case">Корпуса</a>
                    <a href="/components/cooling">Охлаждение процессора</a>
                </div>
            </div>
            <a href="builds">Сборки</a>
        </div>
        <div class="nav-right">
            {% if user.is_logged_in %}
                <a href="profile" class="btn">{{ user.username }}</a>
            {% else %}
                <a href="login" class="btn">Войти</a>
                <a href="register" class="btn">Зарегистрироваться</a>
            {% endif %}
        </div>
    </div>
    <!-- Begin page content -->
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>