{% extends "base.html" %}

{% block content %}
<table>
    <!-- Если есть заголовки -->
    {% if keys %}
    <thead>
        <tr>
            {% for key in keys %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
    </thead>
    {% endif %}

    <!-- Динамическое содержимое таблицы -->
    <tbody>
        {% for component in components %}
        <tr>
            {% for el in component.get() %}
                <td>{{ el }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}