{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/main_style.css">

<!-- Main container -->
<div class="container">
    <!-- Components container -->
    <div class="components-container">
        <!-- Row 1: CPU Cooler (centered above CPU) -->
        <div class="cpu-row">
            <div class="block cpu-block" onclick="window.location.href='/choose_components/cooling_systems'">Охлаждение процессора</div>
        </div>

        <!-- Row 2: GPU, CPU, RAM -->
        <div class="row">
            <div class="block" onclick="window.location.href='/choose_components/videocards'">Видеокарта</div>
            <div class="block cpu-block" onclick="window.location.href='/choose_components/processors'">Процессор</div>
            <div class="block" onclick="window.location.href='/choose_components/ram_modules'">ОЗУ</div>
        </div>

        <!-- Row 3: Motherboard -->
        <div class="row">
            <div class="motherboard" onclick="window.location.href='/choose_components/motherboards'">Материнская плата</div>
        </div>

        <!-- Row 4: Storage, PSU, Case -->
        <div class="bottom-row">
            <div class="block" onclick="window.location.href='/choose_components/storage_devices'">Накопители</div>
            <div class="block" onclick="window.location.href='/choose_components/power_supplies'">Блок питания</div>
            <div class="block" onclick="window.location.href='/choose_components/computer_cases'">Корпус</div>
        </div>
    </div>
</div>
{% endblock %}