{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/registration_authorization_style.css">

<div class="container">
    <form class="modal-content">
        <h2>Регистрация</h2>
        <input type="text" id="nickname" name="nickname" required placeholder="Никнейм">
        <input type="email" id="email" name="email" required placeholder="Почта">
        <input type="password" id="password" name="password" required placeholder="Пароль">
        <button type="submit" class="btn">Создать</button>
    </form>
</div>
{% endblock %}